
# IC Configuration
NEXT_PUBLIC_IC_HOST=http://localhost:4943
NEXT_PUBLIC_USER_CANISTER_ID=ulvla-h7777-77774-qaacq-cai
NEXT_PUBLIC_MARKETPLACE_CANISTER_ID=umunu-kh777-77774-qaaca-cai
NEXT_PUBLIC_HACKATHON_CANISTER_ID=uzt4z-lp777-77774-qaabq-cai
NEXT_PUBLIC_CHAT_STORAGE_CANISTER_ID=u6s2n-gx777-77774-qaaba-cai

NEXT_PUBLIC_TEBI_ACCESS_KEY_ID=vQbSgo17jpuKUed8
NEXT_PUBLIC_TEBI_SECRET_ACCESS_KEY=ObkHZ6K0M40uX8NjrAlp6G9UnFgq3QCkYtLR75EW
NEXT_PUBLIC_TEBI_REGION=us-east-1
NEXT_PUBLIC_TEBI_ENDPOINT=https://s3.tebi.io
TEBI_ACCESS_KEY_ID=vQbSgo17jpuKUed8
TEBI_SECRET_ACCESS_KEY=ObkHZ6K0M40uX8NjrAlp6G9UnFgq3QCkYtLR75EW


SMTP_SECURE=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=icpworkofficial@gmail.com
SMTP_PASS=fulpgemhmgfnzycbzx
# JWT Configuration
JWT_SECRET=a048cad844bcf4f9cfa4cf00408832ee
NEXT_PUBLIC_JWT_SECRET=a048cad844bcf4f9cfa4cf00408832ee

# App Configuration
APP_NAME=Your App Name
NEXTAUTH_URL=http://localhost:3000
NODE_ENV=development
